<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pureandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:appComponentFactory="com.example.pureandroid.MyAppComponentFactory"
        tools:replace="android:appComponentFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splash.LoadingActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".SecondActivity"
            />

        <activity
            android:name=".TestActivity"
            />
        <activity
            android:name=".TestActivityWithConstructor"
            />
        <activity
            android:name=".TestLayoutAc"
            android:screenOrientation="portrait" />

        <activity
            android:name=".livedata.TestLiveDataAc"
            android:screenOrientation="portrait" />

        <activity
            android:name=".memleak.MyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".HookCloseGuardActivity"
            android:screenOrientation="portrait" />

        <!-- android:process=":service"  -->
        <service
            android:name=".testaidl.TestAidlServer"
            android:enabled="true"
            android:process=":service"></service>

        <service
            android:name=".testbinder.TestMediaServer"
            android:enabled="true"
            android:process=":service"></service>

        <service android:name=".TestIntentService"/>

        <activity
            android:name=".TestHandlerAc"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testaidl.TestAidlAc"
            android:screenOrientation="portrait" />

        <activity
            android:name=".testbinder.TestAidlAc2"
            android:screenOrientation="portrait" />


    </application>

</manifest>